@{
    ViewData["Title"] = "Contatos";
}


<body class="corpo" style="background-image: url('/media/beach-g09d19d8e8_1920.jpg');">
    <main style="margin: 7px;">
        <section class="art">
            <article>
                <h1>Nosso contato:</h1>
                <p>Email: emaildaagencia@grandbluetravels.org.br</p>
                <p>Telefone: (81)99876-5432</p>
            </article>
        </section>
    </main>
</body>