@{
    ViewData["Title"] = "Dados";
}


<body class="corpo" style="background-image: url('/media/seashells-g51535a9be_1920.jpg')">
    <main class="prin">
        <section class="art">
            <h1><a asp-controller="Clientes" asp-action="Index">Seus dados</a></h1>
        </section>
        <section class="art">
            <h1><a asp-controller="Viagens" asp-action="Index">Viagens cadastradas</a></h1>
        </section>
    </main>
</body>

