@{
    ViewData["Title"] = "Promoções";
}


<body class="corpo" style="background-image: url('/media/bubbles-g138cae117_1920.jpg');">
    <main style="margin: 7px;">
        <section class="art">
            <h1 style="text-align: center;">Veja as ofertas disponíveis</h1>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/media/new-york.jpg" height="385" alt="Primeiro Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/media/heritage-japan.jpg" height="385" alt="Segundo Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/media/palace-england.jpg" height="385" alt="Terceiro Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/media/berlin.jpg" height="385" alt="Quarto Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/media/sydney-opera-house.jpg" height="385" alt="Quinto Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/media/buenos-aires.jpg" height="385" alt="Sexto Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/media/canada.jpg" height="385" alt="Sétimo Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/media/vicuna-chile.jpg" height="385" alt="Oitavo Slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>
            <br />
            <article>
                <p style="color: rgb(136, 0, 0); font-size: x-large;"><strong>Visite o chile e leve 1 passagem grátis!</strong></p>
            </article>
            <article>

                <p style="color: rgb(129, 0, 0); font-size: x-large;"><strong>Visite outro continente e concorra a R$100.000,00!</strong></p>

            </article>
            <article>

                <p style="color: rgb(129, 0, 0); font-size: x-large;"><strong>Compre com mastercard e ganhe 10% de desconto!</strong>.</p>

            </article>
            <article>

                <p style="color: rgb(129, 0, 0); font-size: x-large;"><strong>5% de desconto na primeira compra!</strong></p>

            </article>
        </section>
    </main>
</body>